{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="{% static '/plugins/bootstrap-4.6.2/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/font/bootstrap-icons.min.css' %}">
    <style>
        h2 {
            margin: 20px;
            display: flex;
            justify-content: center;
        }

        .btn-block {
            display: flex;
            justify-content: center;
        }

        .btn btn-warning {
            margin-left: 20px;
        }

    </style>
</head>
<body>
<div class="container">
    <h2>请连接上 WIFI ~</h2>
    <form id="wifiForm">
        {% csrf_token %}
        <div class="dropdown">
            <div class="form-group">
                <label for="wifiSelect">WIFI 名称</label>
                <select class="form-control" id="wifiSelect">
                    {% for wifi in wifi_list %}
                        <option value="{{ wifi.ssid }}">{{ wifi.ssid }}</option>
                    {% endfor %}
                </select>
                <small id="wifiHelp" class="form-text text-muted">请选择所要连接的WIFI</small>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword">WIFI 密码</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="请输入WIFI密码">
        </div>
        <div class="btn-block">
            <button type="submit" class="btn btn-primary">提 交</button>
            {#            <button type="resert" class="btn btn-primary">提 交</button>#}
        </div>
    </form>

    <script>
        {#获取选择的WIFI名称#}
        const wifiSelect = document.getElementById('wifiSelect');
        // 处理表单提交
        const wifiForm = document.getElementById('wifiForm');
        wifiForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const selectedSSID = wifiSelect.value;
            const password = document.getElementById('inputPassword').value;
            if (selectedSSID && password) {
                {#django会使用csrf验证，需要传输值过去#}
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                console.log(csrfToken)
                fetch("http://127.0.0.1:8000/affairs/check/", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                        wifiName: selectedSSID,
                        wifiPassword: password
                    })
                }).then(response => response.json())  // 将响应解析为 JSON
                    .then(data => {
                        if (data.code === 200) {
                            alert('WiFi 连接成功！');
                        } else {
                            alert(`WiFi 连接失败: ${data.message}`);
                        }
                    })
                    .catch(error => {
                        console.error('请求出错:', error);
                        alert('连接出错，请稍后重试');
                    });
            } else {
                alert('请确保选择 WiFi 和输入密码');
            }
        });
    </script>
</div>
</body>
</html>